:root {
  --main: #EDE7E3;
  --second: #82C0CC;
  --third: #4C3B4D;
  --fourth: #BD9391;
  --menu: #489FB5;
  --selectedColor: var(--main);
}

* {
  box-sizing: border-box;
}

.main {
  background-color: var(--selectedColor);
}

.footer-menu {
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  position: absolute;
  width: 100%;
}

.menu-selector {
  background-color: var(--menu);
  border: 1px solid black;
  display: grid;
  justify-content: stretch;
  justify-items: stretch;
}

.menu-title {
  justify-self: stretch;
  font-size: 1.25rem;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.menu {
  list-style-type: none;
  transform: scaleY(0);
}

